article[role=main] {
  /*
    #627: setting small line-height
    https://github.com/pradyunsg/furo/discussions/344
  */ }
  article[role=main] .highlight pre {
    line-height: 125%; }
  article[role=main] .highlight span.linenos {
    color: inherit;
    background-color: transparent;
    padding-left: 0.875rem;
    padding-right: 0.875rem; }
